body {
  background-color: #5d7996;
  text-align: center;
  margin: 2%;
}

.videos {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.video-card {
  margin: 20px;
  padding: 5px;
  background-color: #26354a;
}
