body {
  background-color: #7091b3;
  display: flex;
}

#root {
  width: 100%;
}

@media only screen and (max-height: 500px) {
  body {
    height: 540px;
  }
}

@media only screen and (max-width: 740px) {
  .docked {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 95%;
    padding: 2.5%;
    background: #07102070;
  }

  .link-button {
    font-size: 10px;
    font-weight: bolder;
    margin: 2px;
    padding: 5px;
    border: 3px solid;
    flex-shrink: 1;
    min-width: 50px;
    height: 50px;
    width: 75px;
  }

  .sow-text {
    font-size: 38px;
  }

  .video {
    width: 48%;
    margin: 0% 1%;
    height: 80%;
  }

  .video .title h1 {
    font-size: 15px;
    height: 15%;
  }
}

@media only screen and (min-width: 740px) {
  .sow-text {
    font-size: 64px;
  }
}

@media only screen and (max-width: 740px) {
  .video .card {
    height: 80%;
  }

  .video .title h1 {
    text-align: center;
    font-size: 15px;
    height: 15%;
  }
}

@media only screen and (min-width: 740px) {
  .video .title h1 {
    text-align: center;
    font-size: 18px;
  }
}



@media only screen and (max-width: 1050px) {
  .banner {
    display: flex;
    height: 100px;
    width: 96%;
    /* margin: 2%, 0%, 0%, 2%; */
  }

  .banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 98%;
    margin: 1%;
  }

  .banner-text h1 {
    font-size: 30px;
  }

  .logo-img {
    display: flex;
    align-self: center;
    max-width: 20%;
    max-height: 100px;
    border: 2px solid;
    border-color: black;
  }

  .nav-bar {
    max-width: 100px;
    justify-content: left;
  }

  .nav-button {
    margin: 7px 0px;
    padding: 15px;
    font-size: 15px;
    font-weight: bolder;
    width: 90%;
    min-width: 100px;
    height: 75px;
    width: 100px;
  }

  @media only screen and (min-width: 740px) {

    .link-button {
      font-size: 15px;
      font-weight: bolder;
      margin: 10px;
      padding: 15px;
      border: 8px solid;
      border-radius: 56px;
      flex-shrink: 1;
      min-width: 100px;
      height: 75px;
      width: 100px;
    }

    .react-player {
      width: 100%;
    }

  }

  .nav-button {
    border-radius: 50px;
  }

  .videos {
    width: 98%;
    margin: 1%;
  }

  .video {
    width: 48%;
    margin: 0% 1%;
  }

  .video .title h1 {
    text-align: center;
    /* font-size: 18px; */
  }


}

@media only screen and (min-width: 1050px) {
  .banner {
    display: flex;
    height: 150px;
    width: 96%;
  }

  .banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 40px;
  }

  .logo-img {
    display: flex;
    align-self: center;
    max-height: 140px;
    max-width: 140px;
    margin: 1%;
    border: 2px solid;
    border-color: black;
  }

  .nav-bar {
    min-width: 130px;
    max-width: 200px;
    justify-content: left;
  }

  .nav-button {
    margin: 15px 0px;
    padding: 15px;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 50px;
    width: 90%;
    min-width: 130px;
    height: 100px;
    width: 200px;
  }

  .link-button {
    font-size: 28px;
    font-weight: bolder;
    margin: 20px;
    padding: 15px;
    border: 8px solid;
    border-radius: 56px;
    flex-shrink: 1;
    width: 200px;
    min-width: 100px;
    height: 150px;
  }

}

.banner {
  margin: 2% 0% 0% 2%;
}

.nav-bar {
  margin: 2% 0% 0% 2%;
}

.main {
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.sow {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sow-text {
  font-variant-caps: petite-caps;
  font-weight: bolder;
}

.videos {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.video .card {
  margin: 2%;
  padding: 0.75%;
}

.video .title {
  text-align: center;
}

.video-player {
  display: flex;
  width: 94%;
  margin: 1%;
  padding: 2%;
  background-color: #445261;
}

.grade .button {
  width: 50px;
  height: 50px;
  color: black;
}

.buttons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.router {
  display: flex;
}

.routes {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 85%;
  margin: 2.5%;
}

.nav-button {
  font-family: "Courier New";
  border: 5px solid;
  border-color: black;
  color: black;
  text-align: center;
}

.link-button {
  font-family: "Courier New";
  border-color: black;
  color: black;
  text-align: center;
}

.video-filter-container {
  text-align: center;
  align-content: center;
  justify-content: center;
}

button text {
  position: absolute;
  width: 100%;
  height: 100%;
}

button.orange {
  background: #f08c00;
}

button.green {
  background: #15c206;
}

button.red {
  background: #e31c0e;
}

button.black {
  background: black;
  color: white;
}

button.purple {
  background: #9138c9;
}

button.white {
  background: white;
}

.about {
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: #b1c1c7;
  border-radius: 15px;
  margin: 2%;
  padding: 2%;
  flex-wrap:wrap;
}

.about h1 {
  text-align: center;
  font-size: 36px;
}

.about p {
  text-align: left;
  font-size: 24px;
  margin: 2%;
}
